<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Schedule</title>
    </head>
    <body>
    	
    	<div layout:fragment="content">
	        <div class="row">
	        <div class="col-md-12">
              <!-- <div class="box box-primary">
                <div class="box-body no-padding">
                  THE CALENDAR
                  <div id="calendar"></div>
                </div>/.box-body
              </div>/. box -->
              
              <div class="box box-primary">
                <div class="box-header">
                  <i class="fa fa-calendar"></i>
                  <h3 class="box-title"><span th:text="${year}">Year</span> Schedules (Click to see Employee's monthly Calendar)</h3>
                  <div class="box-tools pull-right">
                    <a class="btn btn-box-tool" title="Previous Year" th:href="@{/calendar?year={pYear}(pYear=${year-1})}">
                    	<i class="fa fa-chevron-circle-left fa-lg"></i> <span th:text="${year - 1}">PrevYear</span>
                    </a>
                    <a class="btn btn-box-tool" title="Next Year" th:href="@{/calendar?year={nYear}(nYear=${year+1})}">
                    	<i class="fa fa-chevron-circle-right fa-lg"></i> <span th:text="${year + 1}">NextYear</span>
                    </a>
                  </div>
                </div>
                <div class="box-body table-responsive pad " >
                  <table class="table table-bordered text-center" style="width: 3600px;">
                    <tr>
                      <th class="bg-purple">Employee</th>
                      <th class="bg-purple">Jan</th>
                      <th class="bg-purple">Feb</th>
                      <th class="bg-purple">Mar</th>
                      <th class="bg-purple">Apr</th>
                      <th class="bg-purple">May</th>
                      <th class="bg-purple">Jun</th>
                      <th class="bg-purple">Jul</th>
                      <th class="bg-purple">Aug</th>
                      <th class="bg-purple">Sep</th>
                      <th class="bg-purple">Oct</th>
                      <th class="bg-purple">Nov</th>
                      <th class="bg-purple">Dec</th>
                    </tr>
                    <tr th:each="cal : ${calendars}">
                      <td style="padding: 0px;"><button class="btn btn-block bg-navy btn-flat" th:text="${cal.empName}">Emp 1</button></td>
                      <td style="padding: 0px; border: 0px;" th:each="status : ${cal.employeeStatus}"
                      	data-toggle="modal" 
					    data-target="#calModel"
					    
					    th:attr="data-empid=${cal.empId},data-empName=${cal.empName},data-year=${status.year},data-month=${status.month}">
                      	<span th:each="duration : ${status.statusDurations}">
	                      	<span th:each="day : ${#numbers.sequence(1, duration.getNumberOfDays())}"
	                      			th:classappend="${duration.style}"
	                      		th:text="${day}">
	                      	&nbsp;
	                      	</span>
                      	</span>
                      	
                      </td>                      
                    </tr>
                   
                  </table>
                  
                  <div id="calModel" class="modal fade" tabindex="-1" 
                  	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
		                <div class="modal-content">
		                  <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span></button>
		                    <h4 class="modal-title">Employee Calendar</h4>
		                  </div>
		                  <div class="modal-body">
		                    <div id="calendar"></div>
		                  </div>
		                  
		                </div>
		              </div>
				  </div>
                </div><!-- /.box -->
              </div>
            </div><!-- /.col -->
            </div>
    	</div>

    	<div layout:fragment="pageLevelScript">
			<script>
		    	$(document).ready(function() {
		    		var date = new Date();
		            var year = date.getFullYear(), month = date.getMonth(), empid = -1;
		    		$('#calModel').on('shown.bs.modal', function (event) {
		    			var cell = $(event.relatedTarget);
		    			year = cell.data('year');
		    			month = cell.data('month');
		    			empid = cell.data('empid');
		    			//console.log('month='+month);
		    			var gotoDate = new Date(year, month);
		    			
		             $('#calendar').fullCalendar({
			             header: {
			               left : 'title',
			               right : 'today',
			               center: ''
			               /*right: 'month,agendaWeek,agendaDay'*/
			             },
			             buttonText: {
			               today: 'Today',
			               month: 'Month',
			               week: 'Week',
			               day: 'Day'
			             },		
			             events: function(start, end, timezone, callback) {
			            	// alert('load events ->'+empid+":"+year+":"+month);
			            	 $.ajax({
						            url: 'calendar/events',
						            dataType: 'json',
						            data: {
						                empId: empid,
						                year: year,
						                month: month
						            },
						            success: function(resp) {
						                var events = [];
						                $.each(resp, function(i, item) {
						                    events.push(item);
						                });
						                 
						                callback(events);
						            }
						        });
			            	 
			             },
			             lazyFetching: true
			             
			           });
		               //console.log(gotoDate);
		    		   $('#calendar').fullCalendar( 'gotoDate', gotoDate);
		    			
		    		});
		    	});
		   </script> 
		</div>
		
    </body>
    
</html>