<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Schedule</title>
    </head>
    <body>
    	
    	<div layout:fragment="content">
	        <div class="row">
	        <div class="col-md-12">
              <!-- <div class="box box-primary">
                <div class="box-body no-padding">
                  THE CALENDAR
                  <div id="calendar"></div>
                </div>/.box-body
              </div>/. box -->
              
              <div class="box box-primary">
                <div class="box-header">
                  <i class="fa fa-calendar"></i>
                  <h3 class="box-title">Schedules</h3>
                </div>
                <div class="box-body pad table-responsive">
                  <p>Click to see Employee's monthly Calendar</p>
                  <table class="table table-bordered text-center">
                    <tr>
                      <th class="bg-purple"><bold>Employee</bold></th>
                      <th class="bg-purple">Jan</th>
                      <th class="bg-purple">Feb</th>
                      <th class="bg-purple">Mar</th>
                      <th class="bg-purple">Apr</th>
                      <th class="bg-purple">May</th>
                      <th class="bg-purple">Jun</th>
                      <th class="bg-purple">Jul</th>
                      <th class="bg-purple">Aug</th>
                      <th class="bg-purple">Sep</th>
                      <th class="bg-purple">Oct</th>
                      <th class="bg-purple">Nov</th>
                      <th class="bg-purple">Dec</th>
                    </tr>
                    <tr th:each="cal : ${calendars}">
                      <td style="padding: 0px;"><button class="btn btn-block bg-navy btn-flat" th:text="${cal.empName}">Emp 1</button></td>
                      <td style="padding: 0px; border: 0px;" th:each="status : ${cal.employeeStatus}">
                      	<a class="btn btn-block btn-default btn-flat" 
                      			th:classappend="${status.style}"                      			
                      			href="javascript:void(0);"
                      			data-toggle="tooltip" data-placement="right"
                      			th:title="${status.status}">&nbsp;</a>
                      </td>                      
                    </tr>
                  
                   
                  </table>
                  
                  <div id="calModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					  <div class="modal-dialog">
		                <div class="modal-content">
		                  <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                    <h4 class="modal-title">Employee Calendar</h4>
		                  </div>
		                  <div class="modal-body">
		                    <!-- <p>One fine body&hellip;</p> -->
		                    <div id="calendar"></div>
		                  </div>
		                  <div class="modal-footer">
		                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
		                  </div>
		                </div><!-- /.modal-content -->
		              </div><!-- /.modal-dialog -->
				  </div>
                </div><!-- /.box -->
              </div>
            </div><!-- /.col -->
            </div>
    	</div>
    	
    	

    	<div layout:fragment="pageLevelScript">
			<script>
		    	$(document).ready(function() {
		    		
		    		$('#calModel').on('show.bs.modal', function (event) {
		    			 // var button = $(event.relatedTarget) // Button that triggered the modal
		    			  //var recipient = button.data('whatever') // Extract info from data-* attributes
		    			  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		    			  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		    			 // var modal = $(this)
		    			 // modal.find('.modal-title').text('New message to ' + recipient)
		    			 // modal.find('.modal-body input').val(recipient)
		    			 //alert(1);
		    			 
		    			/* initialize the calendar
			            -----------------------------------------------------------------*/
			           //Date for the calendar events (dummy data)
			           var date = new Date();
			           var d = date.getDate(),
			                   m = date.getMonth(),
			                   y = date.getFullYear();
			           
			           $('#calendar').fullCalendar({
			             header: {
			               left : 'title',
			               right : 'prev,next today',
			               center: ''
			               /*right: 'month,agendaWeek,agendaDay'*/
			             },
			             buttonText: {
			               today: 'Today',
			               month: 'Month',
			               week: 'Week',
			               day: 'Day'
			             },
			             //Random default events
			             events: function(start, end, timezone, callback) {
			            	// alert('load events');
			            	 var events = [
			        		               {
			        			                 title: 'All Day Event',
			        			                 start: new Date(y, m, 1),
			        			                 backgroundColor: "#f56954", //red
			        			                 borderColor: "#f56954" //red
			        			               },
			        			               {
			        			                 title: 'Long Event',
			        			                 start: new Date(y, m, d - 5),
			        			                 end: new Date(y, m, d - 2),
			        			                 backgroundColor: "#f39c12", //yellow
			        			                 borderColor: "#f39c12" //yellow
			        			               },
			        			               {
			        			                 title: 'Meeting',
			        			                 start: new Date(y, m, d, 10, 30),
			        			                 allDay: false,
			        			                 backgroundColor: "#0073b7", //Blue
			        			                 borderColor: "#0073b7" //Blue
			        			               },
			        			               {
			        			                 title: 'Lunch',
			        			                 start: new Date(y, m, d, 12, 0),
			        			                 end: new Date(y, m, d, 14, 0),
			        			                 allDay: false,
			        			                 backgroundColor: "#00c0ef", //Info (aqua)
			        			                 borderColor: "#00c0ef" //Info (aqua)
			        			               },
			        			               {
			        			                 title: 'Birthday Party',
			        			                 start: new Date(y, m, d + 1, 19, 0),
			        			                 end: new Date(y, m, d + 1, 22, 30),
			        			                 allDay: false,
			        			                 backgroundColor: "#00a65a", //Success (green)
			        			                 borderColor: "#00a65a" //Success (green)
			        			               },
			        			               {
			        			                 title: 'Click for Google',
			        			                 start: new Date(y, m, 28),
			        			                 end: new Date(y, m, 29),
			        			                 url: 'http://google.com/',
			        			                 backgroundColor: "#3c8dbc", //Primary (light-blue)
			        			                 borderColor: "#3c8dbc" //Primary (light-blue)
			        			               }
			        			             ];
			            	 callback(events);
			             }
			             
			           });
		    		});
		    			
		    		
		        
		    	});
		   </script> 
		</div>
		
    </body>
    
</html>